<div class="card-row">
    <div class="card-col">
        <mat-card class="list-of-searchs">
            <mat-form-field appearance="outline" class="full-width">
                <mat-icon matPrefix >search</mat-icon>
                <input matInput  type="text" [(ngModel)]="value" />
            </mat-form-field>
            
            <mat-list>
                <mat-list-item *ngFor="let element of displayedList|searchFilter:value"  (click)="displayElement(element)" class="default-cursor">
                    <div>
                    {{element.title}}
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
    <div class="card-col">
        <mat-card *ngIf="isClickedOnce">
            <mat-card-header>
                {{currentElement.title}}
            </mat-card-header>
            <mat-card-content>
                {{currentElement.text}}
            </mat-card-content>
        </mat-card>
    </div>
</div>

