.mat-mdc-snack-bar-container {
    &.blue-snackbar {
        --mdc-snackbar-container-color: #3366ff;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.mat-mdc-snack-bar-container {
    &.green-snackbar {
        --mdc-snackbar-container-color: #00d68f;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.mat-mdc-snack-bar-container {
    &.red-snackbar {
        --mdc-snackbar-container-color: #ff3d71;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}
